*~
*#
*.swp


dataset-generation/generated-datasets/*
dataset-generation/predictions/*
dataset-generation/outputs*
dataset-generation/exported*
dataset-generation/cache/*
dataset-generation/temp*

dataset-generation/callingGraph*
dataset-generation/*.profile
experiments/


*.DS_Store
wiki-cache.db
/cache
.idea
pyproject.toml
.venv


__pycache__/
*.py[cod]
*$py.class
*.egg-info/

/.coverage
/.coverage.*
/.cache
/.pytest_cache
/.mypy_cache

/doc/_apidoc/
/build
